
._RemoteControlPhyz01.py
._zmaestro.py
/__pycache__

._*
/Microphone-1
/Microphone.v1i.yolov11
*.zip
/PhyzObjectDetection.v1i.yolov8
/PhyzObjectDetection.v2i.yolov11
/runs
Basic Object detection with YOLO 2'.py
/Images
